:root {
  --nav_height: 50px;
  --nav_button_height: 48px;
}

body {
  background-color: #f8f8f8;
  font-family: 'Jua', sans-serif;

}

/* 아이콘 컬러 변경 */

.icon_white {
  color: white;
}

.icon_gray {
  color: grey;

}

/* nav메뉴 속성 모음  - 기초 디자인 */

.nav {
  color: white;
  background-color: #00070e;
  height: var(--nav_height);
  border: 1px solid gray;
}

.nav .nav_blank {
  width: 15%;
}

.nav .home_button {
  width: 5%;
  height: var(--nav_button_height);
  border-left: 0;
  border-right: 1px gray solid;
  background-color: inherit;
}

.nav .sidemenu_button {
  width: 5%;
  height: var(--nav_button_height);
  border-right: 1px gray solid;

  background-color: inherit;
}


.nav .campaign_plus_button {
  width: 10%;
  height: var(--nav_button_height);
  border-right: 1px gray solid;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;
}

.nav .newcamp {
  margin-left: 10px;
}

.nav .campaign_searchbar_box {
  margin-left: 20px;
  width: 30%;

}

.nav .campaign_searchbar {
  width: 50%;
  margin-top: 5px;
  height: calc(var(--nav_button_height) - 10px);
  border: 0;
  border-radius: 15px;
  text-indent: 30px;


  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
  background-position: 13px left;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  border: 1px solid #ccc;


}

.nav input::placeholder {
  text-indent: 30px;
  font-size: 15px;
}

.nav .email_icon {
  background-color: inherit;
  width: 5%;
  height: var(--nav_button_height);
  border: 0;

}



.nav .notice_icon {
  background-color: inherit;
  width: 5%;
  height: var(--nav_button_height);
  border: 0;


}

.nav .idstatus_button_main {
  color: white;
  background-color: inherit;
  width: 10%;
  height: var(--nav_button_height);
  border: 0;


}

.nav .idstatus_button_open {
  display: none;
  height: var(--nav_button_height);

}

.nav .idstatus_button_detail {
  background-color: #007bff;


  width: 10%;
  height: var(--nav_button_height);
  margin: 0;
  border: 1px solid gray;
  font-size: 11px;


}

.nav .idstatus {
  background-color: #007bff;
  color: white;

  width: 100%;
  height: calc(var(--nav_height) / 3);
  border: 1px solid gray;

}

.nav .logout {
  background-color: #007bff;
  color: white;

  width: 100%;
  height: calc(var(--nav_height) / 3);
  border: 1px solid gray;

}

.nav .member_info {
  background-color: #007bff;
  color: white;

  width: 100%;
  height: calc(var(--nav_height) / 3);
  border: 1px solid gray;


}



/* side 메뉴 속성  */

/* 미디어 쿼리 적용해서 , 각각의 화면 크기별 요소 크기 변경해두기 */

#sidebar {
  background-color: #00070e;
  border: 1px solid gray;
  color: white;

  border-top: 0px;

  width: 15%;

  font-size: 1vw;

  height: calc(100vh - 70px);
  position: fixed;

  left: -15%;

}

.slist {
  list-style: none;
  position: relative;
  right: 30px;
}

/* 이메일 버튼 팝업 css */

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.popup-inner {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #fff;
}

.popup-close {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  color: black;
}

.popup_detail {
  /* background-color: aquamarine; */
  width: 60%;
  margin: 0 auto;
}


.popup_h1 {
  height: 70px;
  line-height: 70px;

}

.popup_text {
  width: 20%;
  height: 40px;
  line-height: 40px;
  display: inline-block;

}

.popup_input {
  width: 70%;
  display: inline-block;


}

#popup_about {
  height: 100px;
}

#popup_about_t {
  position: relative;
  bottom: 80px;
}

.popup_send {
  margin-left: calc(33%);
  margin-right: calc(33%);
  width: 30%;
}

/* 화면 반투명 처리 */

/* .bgLayer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 10;
}
 */

/* 알림 슬라이드 다운 CSS */

.slide-down {
  display: none;
  float: right;
  width: 700px;
  height: 500px;
  background-color: grey;

}

/* --------------------------------------------------------------* /
/* --------------------------------------------------------------* /
/* --------------------------------------------------------------* /
/* --------------------------------------------------------------* /
/* --------------------------------------------------------------* /
/* --------------------------------------------------------------* /
/* --------------------------------------------------------------* /
/* --------------------------------------------------------------* /


/* 메인 콘텐츠 CSS 모음 */

main {
  /* background-color: antiquewhite; */
  width: 70%;
  height: calc(100vh - 70px);
  margin: 0 auto;
}

main .campaign_status {
  width: 100%;

}


main .campaign_status .slogan {
  width: 80%;
  /* background-color: aquamarine;\ */
  position: relative;
  top: 30px;
  font-size: 1vw;
  margin-bottom: 30px;
}

main .campaign_status .slogan_blank {
  width: 5%;
  height: 20px;
  float: left;
}


main .c_status_button_box_collection {
  width: 100%;
  /* background-color: blue; */
  margin-bottom: 35px;
  height: 100px;
}

main .c_status_blank {
  /* background-color: black; */
  width: 5%;
  height: inherit;
  float: left;
}


main .c_status_button_box {
  /* background-color: yellow; */
  width: 22.5%;
  height: 100px;
  border: 1px solid gray;
  float: left;


}


main .c_status_icon {
  /* background-color: red; */
  height: inherit;
  width: 40%;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

}

main .c_status_icon_circle {
  background-color: antiquewhite;
  width: 60%;
  height: calc(width);
}


main .c_status_detail {
  /* background-color: gray; */

  width: 60%;
  height: inherit;
  font-size: 1vw;
  float: left;

}


main .c_status_text {

  margin-top: 40px;
}

main .c_status_number {

  margin-top: 5px;
  margin-left: 1vw;
}





main .campaign_list_nav {
  margin-bottom: 20px;
  height: 50px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid gray;


}

main .c_list_blank {
  /* background-color: black; */
  width: 5%;
  height: inherit;
  float: left;
  background-color: #f8f8f8;
  margin-top: 1px;
}

main .c_list_blank_2 {
  /* background-color: black; */
  width: 6%;
  height: inherit;
  float: left;
  background-color: #f8f8f8;
  margin-top: 1px;
}



main .slogan_nav {

  width: 85%;
  float: left;
  font-size: 1vw;


  margin-top: 20px;
}

.change_gallery {

  background-color: #f8f8f8;
  border: 0;

  margin-top: 20px;


}

.change_list {

  background-color: #f8f8f8;
  border: 0;

  margin-top: 20px;

}

.campaign_list {
  /* background-color: blueviolet; */
}


.campaign_list_bar {
  /* background-color: red; */
  width: 100%;
  margin: auto;
}

/* 캠페인 리스트 버튼 그룹 모음 */

.campaign_list_button_group {
  width: 100%;
}



.btn-group {
  width: 100%;
  height: 50px;
}

.btn-group button {
  background-color: grey;
  border: 1px solid grey;
  color: white;
  /* padding: 10px 24px; */
  /* cursor: pointer; */
  /* float: left; */
  width: 10%;
  font-size: 0.6vw;
}

.btn-group #last_button {
  /* background-color: #ccc; */
  border-top-right-radius: 15px;

}

/* Clear floats (clearfix hack)
.btn-group:after {
  content: "";
  clear: both;
} */

.btn-group button:not(:last-child) {
  border-right: none;
}



.btn-group-blank {
  /* background-color: black; */
  width: 5%;
}


.campaign_list_table {
  margin: auto;
  width: 90%;
  height: 21vw;
  background-color: white;
}