main .campaign_list_nav {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* border-bottom: 1px solid gray; */


}

main .campaign_list_nav_content {

  float: left;
  width: 90%;
  /* height: inherit; */

  display: flex;
  align-items: center;
  justify-content: center;


  border-bottom: 1px solid gray;



}

main .slogan_nav {

  width: 100%;
  float: left;
  font-size: 0.7vw;
  font-weight: bold;


  margin-top: 20px;
  margin-left: 0;


}

main .campaign_list_nav_button {

  width: 2%;
  min-width: 23px;


  float: left;


}

main .c_list_content_blank_2 {}

main .c_list_blank {
  /* background-color: black; */
  width: 5%;
  height: inherit;
  float: left;
  /* background-color:#F6F6F6; 		 */
  margin-top: 1px;
}

main .c_list_blank_2 {
  /* background-color: black; */
  width: 5%;
  height: inherit;
  float: left;
  /* background-color:#F6F6F6; 		 */
  margin-top: 1px;
}

/* 상단 캠페인 리스트 슬로건과 2개 버튼 영역  */



.change_gallery {

  background-color: #f8f8f8;
  border: 0;

  margin-top: 20px;


}

.change_list {

  background-color: #f8f8f8;
  border: 0;

  margin-top: 20px;

}

.campaign_list {
  /* background-color: blueviolet; */
}


.campaign_list_bar {
  /* background-color: red; */
  width: 100%;
  margin: auto;
}

/* ======================================================================================================================================================== */

/* 캠페인 리스트 버튼 그룹 모음 */

.campaign_list_button_group {
  width: 100%;

  /* background-color: aqua; */
}


.btn_group {
  float: left;
  width: 90%;
  height: 50px;
  /* background-color: blue; */

  margin: 0;
}

.btn_group button {
  background-color: #dcdcdc;
  border: 1px solid grey;
  /* color: black; */
  width: 11.1%;
  height: inherit;
  font-size: 0.65vw;
  float: left;

  margin: 0;
  /* border-right: 1px solid gray; */
}

.btn_group_button {
  background-color: #dcdcdc;
  border: 1px solid grey;
  /* color: black; */
  width: 11.1%;
  height: inherit;
  font-size: 0.65vw;
  float: left;

  margin: 0;
  /* border-right: 1px solid gray; */
}





.last_button {
  border-top-right-radius: 15px;

}

.btn_group button:not(:last-child) {
  /* border-right: none; */
}



.btn-group-blank1 {
  float: left;
  /* background-color: black; */
  height: 50px;
  width: 5%;
}


.btn-group-blank2 {
  float: left;
  /* background-color: black; */
  height: 50px;
  width: 5%;
}


.campaign_list_table {
  margin: auto;
  width: 90%;
  height: 300px;
  background-color: white;
}

.campaign_list_table_blank {
  float: left;
  /* background-color: aqua; */
  height: 300px;
  width: 30%;
}

.campaign_list_table_main {
  float: left;
  width: 40%;
  height: 300px;
}

.campaign_list_table_main_icon {
  height: 150px;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 100px; */


}

.campaign_list_table_main_text {
  height: 150px;
  /* background-color: red; */

  text-align: center;

  margin-bottom: 50px;

  color: white;


}

.campaign_list_table_main_text2 {
  height: 150px;
  /* background-color: red; */

  text-align: center;

  margin-bottom: 50px;

  color: gray;


}


/* ======================================================================================================================================================== */

/* 캠페인 리스트 테이블 모음 */

.list_table{
  width: 100%;
  height: 300px;
  /* background-color: aqua; */
}

.table-blank1{
  float: left;
  width: 5%;
  height: inherit;
  /* background-color: black; */

}

.table_main{
  width: 90%;
  /* background-color: red; */
  float:left

}



.tg {
  width: 100%;

  border-collapse: collapse;
  border-top-right-radius: 15px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;





}



.tg tr{
  width: 100%;
}



.tg th {

  /* border: solid 1px grey; */

  border-bottom: solid 1px grey;
  font-size: 0.65vw;
  font-weight: normal;
  overflow: hidden;
  word-break: normal;

  border-right: solid 0px grey;
}


th{
  width: 11.1%;
  height: 48px;

  text-align: center;



}

thead{
  border: none;
}

thead th{

  background-color: #dcdcdc;
  /* border: 1px solid grey; */
  width: 11.1%;
  font-size: 0.65vw;
  height: 50px;
  text-align: center;




  margin: 0;




}

#last_button {
  border-top-right-radius: 15px;

}