main {
  /* background-color: antiquewhite; */
  width: 70%;
  height: calc(100vh - 70px);
  margin: 0 auto;
}

main .campaign_status {
  width: 100%;
  /* margin-top: 100px; */
  position: relative;
  top: 50px;

}


main .campaign_status .slogan {
  width: 80%;
  /* background-color: aquamarine;\ */
  position: relative;
  top: 30px;
  font-size: 1vw;
  margin-bottom: 30px;
}

main .campaign_status .slogan_blank {
  width: 5%;
  height: 20px;
  float: left;
}


main .c_status_button_box_collection {
  width: 100%;
  /* background-color: blue; */

  margin-top: 100px;
  margin-bottom: 35px;
  height: 100px;
}

main .c_status_blank {
  /* background-color: black; */
  width: 5%;
  height: inherit;
  float: left;
}


main .c_status_button_box {
  background-color: white;
  width: 22.5%;
  /* width: 45%; */
  height: 100px;
  border: 1px solid gray;
  float: left;


}



/* 캠페인 카드 반응형 미디어 쿼리 모음  */

@media (max-width:1100px){
  main .c_status_button_box {
    /* background-color: yellow; */
    /* width: 22.5%; */
    width: 45%;
    height: 100px;
    border: 1px solid gray;
    float: left;
  
  
  }

  main .c_status_blank_1100 {
    width: 5%;
    /* background-color: black; */
    height: inherit;
    float: left;
  }
}

@media (max-width:600px){

  main .c_status_button_box {
    /* background-color: yellow; */
    /* width: 22.5%; */
    width: 90%;
    height: 100px;
    border: 1px solid gray;
    
    float: left;
  
  
  }

  main .c_status_blank {
    /* background-color: black; */
    width: 0%;
    height: inherit;
    float: left;
  }

}


/* ------------------------------------------*/

main .c_status_icon {
  /* background-color: red; */
  height: inherit;
  width: 40%;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

}

main .c_status_icon_circle {
  background-color: antiquewhite;
  width: 60%;
  height: calc(width);
}


main .c_status_detail {
  /* background-color: gray; */

  width: 60%;
  height: inherit;
  font-size: 1vw;
  float: left;

}


main .c_status_text {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;



}

main .c_status_number {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2vw;


}

