
.bg-blue{
    background-color: #007bff
}

.mg-15{
    margin-left: 20;
    margin-right: 20;
}

.jumbotron{
    height: 100px;
    background-color: white;
    border: 3px solid grey;
}


.inner-box{
    border : 2px solid grey;
    width: 60px;
    height: 80px;

    position: relative;
    bottom : 40px;
}


.inner-text{
    position: relative;
    bottom: 20px;
    font-size: 0.8vw;
}

.p-box{

}

