body {
  background-color: white;
}

/* nav메뉴 속성 모음  - 기초 디자인 */

.nav {
  background-color: #4fc3f7;
  height: 70px;
  border: 1px solid gray;
}

.nav .home_button {
  background-color: #4fc3f7;
  width: 5%;
  height: inherit;
  border: 1px solid gray;


}

.nav .sidemenu_button {
  background-color: #4fc3f7;
  width: 5%;
  height: inherit;
  border: 1px solid gray;


}


.nav .campaign_search {
  width: 20%;
  height: inherit;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;


}

.nav .campaign_searchbar {
  width: 50%;
  height: inherit;
  background-color: white;
  border: 1px solid gray;

}



.nav .email_icon {
  background-color: #4fc3f7;
  width: 5%;
  height: inherit;
  border: 1px solid gray;



}

.nav .notice_icon {
  background-color: #4fc3f7;
  width: 5%;
  height: inherit;
  border: 1px solid gray;



}

.nav .idstatus_button {
  background-color: #4fc3f7;
  width: 10%;
  height: inherit;
  border: 1px solid gray;


}


/* nav메뉴 속성 모음 */

/* side 메뉴 속성  */

/* 미디어 쿼리 적용해서 , 각각의 화면 크기별 요소 크기 변경해두기 */

#sidebar {
  background-color: gray;
  border: 1px solid gray;
  width: 300px;
  height: 860px;
  position: fixed;
  left: -300px;
  
}
