footer{
  height: 60px;
}

.footer_blank{
  float: left;
  height: inherit;
  width: 10%;
  /*background-color: black;*/
}
.footer_page {
  float: left;
  width: 80%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 20px;
}

.footer_pagination li {
  display: inline;
  text-align: center;
}

.footer_pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #96a0ad;
  line-height: 1.5;
}

.first {
  margin-right: 15px;
}

.last {
  margin-left: 15px;
}

.first:hover,
.last:hover,
.left:hover,
.right:hover {
  color: #2e9cdf;
}

.footer_pagination a.active {
  cursor: default;
  color: #ffffff;
}

.footer_pagination a:active {
  outline: none;
}

.footer_modal .num {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.footer_modal .num:hover {
  background-color: #2e9cdf;
  color: #ffffff;
}

.footer_modal .num.active,
.footer_modal .num:active {
  background-color: #2e9cdf;
  cursor: pointer;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
}

