/* 이메일 버튼 팝업 css */

/* 여기서 z인덱스 건드려 보기 */

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

}

.popup-inner {
  position: absolute;
  width: 400px;
  height: 350px;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #fff;
  
  z-index: 2;

}

.popup-close {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  color: black;
}

.popup_detail {
  /* background-color: aquamarine; */
  width: 80%;
  margin: 0 auto;
}


.popup_h1 {
  height: 50px;
  line-height: 50px;

  display : flex;
  justify-content: center;
  /* align-items : center; */
  

}

.popup_text {
  width: 80px;
  height: 40px;
  line-height: 40px;
  display: inline-block;

}



.popup_input {
  border: 1px solid black;
  width: 200px;
  display: inline-block;


}

.popup_input::placeholder{
  text-indent: 5px;
}

#popup_about {
  height: 100px;
}

#popup_about_t {
  position: relative;
  bottom: 80px;
}

.popup_send {
  margin-left: calc(33%);
  margin-right: calc(33%);
  width: 33%;
  margin-bottom: calc(10%);
}

/* 화면 반투명 처리 */

.bgLayer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 10;
}


/* 알림 슬라이드 다운 CSS */

.slide_down {
  display: none;

  background: #fff;
  color: #000;

  width: 400px;
  height: 300px;

  position: fixed;

  border: 1px solid gray;

  top: 50px;
  right: 0%;
  
  z-index: 1;

}

.slide_down .content{
  /* border-bottom: 1px solid gray; */
  margin-bottom: 60px;
}

.slide_down_headbar{
  height: 50px;
  border-bottom: 1px solid gray;
  line-height: 50px;
}

.slide_down_headbar_text {
  
  width: 10%;
  float: left;
  text-align: center;
}

.slide_down_headbar_blank{
  width: 80%;
  height: inherit;
  float: left;
}

.slide_down_headbar_xbutton{
  height: 40px;
  background-color: #fff;
  border: 0;
}

.alarm_title{
  background-color: beige;
  margin-top: 30px;
  margin-left: 15px;
  height: 40px;
  width: 40%;
  text-align: center;
  line-height: 40px;


}

.alarm_body{
  background-color: beige;
  margin-left: 15px;
  margin-top: 15px;
  width: 95%;
  height: 120px;
  text-align: center;
  line-height: 120px;



}

.alarm_nav{
  height: 30px;
  border: 0px;
}

.alarm_button_box{
  float: left;
  width: 30px;
}

.alarm_button{
  background-color: #fff;
  border: 0;
}

.alarm_blank{
  float: left;
  /* background-color: #000; */
  width: 46%;
  height: inherit;
}

/*
.new{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.new_body{
  height: 30px;
  border-bottom: 1px solid gray;
}

.new_alarm_text {
  width: 10%;
  float: left;
  text-align: center;

}

.new_alarm_blank{
  background-color: #000;
  width: 80%;
  height: inherit;
  float: left;

}

.new_alarm_button_box{
  float: left;
  background-color: #fff;
}

.new_alarm_button{
  background-color: #fff;
  border: 0px;

}

.new_content{
  text-align: center;
  height: 50px;
  line-height: 50px;
}
*/