/* side 메뉴 속성  */

/* 미디어 쿼리 적용해서 , 각각의 화면 크기별 요소 크기 변경해두기 */

#sidebar {
  /* background-color: #7c7c79; */
  background-color: #8f9194;


  color: white;

  width: 15%;

  font-size: 1vw;

  margin-top: var(--nav_height);


  height: calc(100vh);
  position: fixed;

  left: -15%;

}

.slist {
  list-style: none;
  position: relative;
  right: 30px;
}